@model IEnumerable<EcommerceTH.data.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamePro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesPro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdcateNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdcateNavigation.Idcate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idpro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idpro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idpro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
